<div id="admin-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="admin-heading"><i class="fa fa-users"></i> All Users</h1>
      </div>
      <div class="col-md-2">
        <a class="add-new" href="/admin/add-user">Add user</a>
      </div>
      <div class="col-md-12">
        <div id="usersTable" data-users='<%- JSON.stringify(userdata) %>'></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
<script>
  const tableElement = document.getElementById("usersTable");
  const tableData = JSON.parse(tableElement.dataset.users);
  const table = new Tabulator("#usersTable", {
    data: tableData,
    layout: "fitColumns",
    pagination: true,
    paginationSize: 10,
    paginationSizeSelector: [5, 10, 20, 50, 100],
    theme: "bootstrap5",
    columns: [
      { title: "S.No.", formatter: "rownum", width: 100, hozAlign: "center" },
      { title: "Full Name", field: "fullname", headerFilter: "input" },
      { title: "User Name", field: "username", headerFilter: "input" },
      { title: "Role", field: "role", headerFilter: "input" },
      {
        title: "CreateAt", field: "timestamps", headerFilter: "input", formatter: function (cell) {
          const value = cell.getValue();
          if (!value) return "";
          const date = new Date(value);
          const day = String(date.getDate()).padStart(2, '0');
          const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are 0-based
          const year = date.getFullYear();
          return `${day}-${month}-${year}`;
        }
      },
      {
        title: "Action",
        formatter: function (cell) {
          return `
            <a href="/admin/update-user/${cell.getData()._id}"class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i></a>
            <button class="btn btn-sm btn-outline-danger delete-user" onclick="deleteUser('${cell.getData()._id}')"><i class="fa fa-trash-o"></i></button>
          `;
        }
      }
    ],
  });
  // Delete user function
  async function deleteUser(id) {
    try {
      if (confirm("Are you sure you want to delete this user?")) {
        const response = await fetch(`/admin/delete-user/${id}`, {
          method: 'delete',
        });
        if (response.ok) {
          window.location.reload();
        }
      }
    } catch (error) {
      console.error("Error deleting user:", error);
    }
  }

</script>
<%- contentFor('tabulatorCSS') %>
  <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">